:root {
        --dice-size: 33vmin;
        --dice-button-size: calc(var(--dice-size) / 4);
        --color-swatch-size: calc(var(--dice-size) / 8);
        /* Calculate the swatch size based on the dice size */
}



body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        background-color: #2B3841;
        position: relative;
        min-height: 85vh;
}

h1 {
        margin: 0;
        font-size: calc(45px);
        font-weight: 100;
        color: #E9EAEC;
}


/* Buttons */
button {
        display: inline-flex;
        border-radius: 25px;
        border: none;
        font-size: 3vim;
        cursor: pointer;
        background-color: #333652;
        color: #fff;
        width: calc(100px + .1vmin);
        height: calc(100px + .1vmin);
        box-sizing: border-box;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
        justify-content: center;
        align-items: center;
}

.add-button,
.update-hold-status-button,
.roll-button {
        display: inline-flex;
        border-radius: 25px;
        border: 1px solid white;
        font-size: 3vim;
        cursor: pointer;
        background-color: #333652;
        color: #fff;
        box-sizing: border-box;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
        justify-content: center;
        align-items: center;
        height: calc(100px + .1vmin);
        padding: 0 10px;
}

.roll-button {
        width: calc((100px + .1vmin) * 2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
}

.roll-button .icon {
        flex: 1;
        justify-content: center;
}

.roll-button .roll-label {
        flex: 1;
        font-size: calc(.6em + 3vmin);
        text-align: center;
}

.roll-total {
        color: #E9EAEC;
        font-size: 5vmin;
        font-weight: 100;
        margin: 0;
        text-align: right;
        display: none; /* hidden by default */
      }

.release-all-button {
        width: calc(100px + .1vmin);
    }
    
    .release-all-label {
        margin-left: 3px;
    }

.dice-button {
        width: var(--dice-button-size);
        height: var(--dice-button-size);
        border-radius: 30%;
}

.dice-button .icon {
        font-size: calc(1em + 3vmin);
}

/* Icons */
.icon {
        font-family: "Font Awesome 6 Free";
        font-size: calc(4em + .1vmin);
        font-weight: normal;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 80%;
}

/* Layout */
/* New footer selector */
footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10vh;
        display: grid;
        grid-template-columns: 1fr auto;
}

.title-container {
        display: flex;
        align-items: center;
        align-self: flex-end;
        justify-content: end;
        gap: 10px;
        padding: 20px;
        grid-column: 1/3;
        display: grid;
        grid-template-columns: auto 1fr;
      }
      
      .roll-total-container {
        padding: 20px;
        align-self: flex-end;
        display: flex;
        text-align: right;
        display: none;
      }
      
      .left-footer-container {
        display: flex;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        gap: 10px;
        padding: 20px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: calc(80% - 200px);
      }
      
      
.primary-buttons-container {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
        padding: 20px;
        grid-column: 2;
        position: fixed;
        bottom: 0;
        right: 0;
}


.dice-container-wrapper {
        display: grid;
        max-height: 90vh; /* set a maximum height for the wrapper */
        overflow: auto; /* enable scrolling when the content overflows */
     }
     
     #dice-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--dice-size), 1fr));
        justify-content: center;
        align-items: center;
        gap: 2vmin;
        place-items: center;
        align-self: end;
     }

/* Dice */
.dice {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: var(--dice-size);
        height: var(--dice-size);
        border-radius: 10%;
        background-color: #E9EAEC;
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        margin: 2.2vmin; /* add some margin */
        z-index: 1;
      }
      

.dice .number {
        font-size: 15vmin;
        margin: 0;
        font-weight: normal;
        position: absolute;
        color: white;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.dice .remove {
        position: absolute;
        top: 0px;
        left: 0px;
}

.dice .settings {
        position: absolute;
        bottom: 0px;
        right: 0px;
}

.dice .hold {
        position: absolute;
        z-index: 2;
        top: 0px;
        right: 0px;
}

.dice-held .dice-button.hold {
        background-color: #E9EAEC;
        border: 3px solid black;
        z-index: 2;
}

.dice-held .dice-button.hold .icon {
        color: black;
        z-index: 2;
}

/* Color Picker */
.color-picker {
        position: absolute;
        background-color: #333652;
        border: 1px solid black;
        border-radius: 20px;
        bottom: 0px;
        padding: 4px;
        flex-wrap: wrap;
        width: 100%;
        /* Make the color picker the width of the dice */
        z-index: 2;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        /* Change to 6 columns */
        grid-template-rows: repeat(2, 1fr);
        /* Add 2 rows */
        grid-gap: 2px;
}

.color-swatch {
        width: var(--color-swatch-size);
        height: var(--color-swatch-size);
        border-radius: 50%;
        margin: 2px;
        cursor: pointer;
        aspect-ratio: 1 / 1;
}

.color-swatch:hover {
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}


.color-swatch:hover {
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

/* Shake Animation */
.shake {
        animation: shake 0.5s ease-in-out;
}

@keyframes shake {
        0% {
                transform: translateX(0) rotate(0deg);
        }

        25% {
                transform: translateX(-8px) rotate(-8deg);
        }

        50% {
                transform: translateX(8px) rotate(8deg);
        }

        75% {
                transform: translateX(-8px) rotate(-8deg);
        }

        100% {
                transform: translateX(0) rotate(0deg);
        }
}

/* Dice Actions */
.dice-action-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        align-items: center;
        padding: 50px;
      }
      

.settings-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        grid-gap: 0; /* Add this line */
        border-radius: 1%;
        background-color: transparent;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1;
}


#add-dice-btn {
        margin-bottom: 10px;
        padding: 5px;
        font-size: 16px;
        color: white;
        border: none;
        cursor: pointer;
}