:root {
        --dice-size: 33vmin;
        --dice-button-size: calc(var(--dice-size) / 4);
        --color-swatch-size: calc(var(--dice-size) / 5.5);
        --primary-button-size: calc(25px + 7vmin);
        --main-font-family: 'Roboto', sans-serif;
        --main-color: #E9EAEC;
        --main-bg-color: #2B3841;
        --btn-bg-color: #333652;
        --btn-color: #fff;
        --btn-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
        font-size: 50px;
        font-weight: 100;
}

body {
        font-family: var(--main-font-family);
        background-color: var(--main-bg-color);
        min-height: 87vh;
}

button,
.roll-button {
        display: flex;
        border-radius: calc(10px + 1vmin);
        border: none;
        font-size: 3vmin;
        cursor: pointer;
        background-color: var(--btn-bg-color);
        width: var(--primary-button-size);
        height: var(--primary-button-size);
        color: var(--btn-color);
        box-sizing: border-box;
        box-shadow: var(--btn-shadow);
        justify-content: space-between;
        align-items: center;
        border: 1px solid white;
}

button:focus {
       outline-color: transparent;
    }

    button {
        -webkit-tap-highlight-color: transparent;

    }

    .roll-button,
.double-wide-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: calc(var(--primary-button-size) * 2);
}

.roll-button .roll-label,
.double-wide-button .button-label {
    font-size: calc( var(--primary-button-size)/2);
    text-align: center;
}

.roll-button {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: calc(var(--primary-button-size) * 2);
}

.roll-button:hover .icon {
        animation: shake 0.5s ease-in-out;
}

.roll-button .roll-label {
        font-size: calc( var(--primary-button-size)/2);
        text-align: center;
}

.release-all-button {
        width: calc(100px + .1vmin);
}

.icon, .menu-icon{
        font-family: "Font Awesome 6 Free";
        font-size: calc(var(--primary-button-size) * 0.65); /* Updated from 0.65 to 0.5 */
        color: var(--btn-color);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .menu-icon{ font-size: calc(var(--primary-button-size) * 0.4);
    }

.hold-icon-container,
.dice-button {
        display: flex;
        justify-content: center;
        border-radius: calc(7px + (var(--dice-button-size)/10));
        align-items: center;
        border: none;
        cursor: pointer;
        width: var(--dice-button-size);
        height: var(--dice-button-size);
        box-sizing: border-box;
        box-shadow: var(--btn-shadow);
}

.hold-icon-container {
        position: absolute;
        border: 2px solid #000;
        background-color: #E9EAEC;
        top: 0;
        right: 0;
        z-index: 1;
}

.hold-icon-container .icon {
        color: #000;
}

.hold-icon-container .icon,
.dice-button .icon {
        font-family: "Font Awesome 6 Free";
        font-size: calc(var(--dice-button-size)*0.65);
        font-weight: normal;
        justify-content: center;
        align-items: center;
}

footer {
        position: fixed;
        padding: 20px;
        bottom: 0;
        left: 0;
        display: grid;
        grid-template-columns: 1fr auto;
}

.primary-buttons-container {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
        padding: 20px;
        grid-column: 2;
        position: fixed;
        bottom: 0;
        right: 0;
}


.logo-button {
        display: inline-block;
        border: none;
        padding: 8px;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .logo-button img {
        width: 100px; /* Adjust the size of your logo as needed */
        height: auto;
    }


.left-footer-container {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 20px;
        position: fixed;
        bottom: 0;
        left: 0;
        color: #E9EAEC;
        font-size: calc(5vmin + 1vmax);
    }

    .title-container, .roll-total-container {
        margin: 1vmin;
    }


    .left-menu {
        display: none;
        grid-template-columns: repeat(2, 1fr);
        background-color: var(--main-bg-color);
        font-size: calc( var(--primary-button-size)/4);
        grid-gap: 10px;
        width: calc(var(--primary-button-size) * 4); /* Twice the width of the buttons */
        padding: 20px;
        position: fixed;
        bottom: 12vh;
        z-index: 2;
        border: 1px solid white;
        border-radius: calc(5px + 1vmin);
    }
    

.dice-container-wrapper {
        display: grid;
        max-height: 87vh;
        overflow: auto;
}

#dice-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--dice-size), 1fr));
        justify-content: center;
        align-items: center;
        gap: 2vmin;
        place-items: center;
        align-self: end;
}

.dice {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: var(--dice-size);
        height: var(--dice-size);
        border-radius: 25px;
        background-color: #E9EAEC;
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        margin: 2.2vmin;
        z-index: 1;
}

.dice .number {
        font-size: calc(var(--dice-button-size)*2);
        margin: 0;
        font-weight: thin;
        position: absolute;
        color: white;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*
        text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
        */
}

.dice .remove,
.dice .settings {
        position: absolute;
}

.dice .remove {
        top: 0px;
        right: 0px;
}

.dice .settings {
        bottom: 0px;
        right: 0px;
}

.color-picker {
        position: absolute;
        background-color: #333652;
        border: 1px solid black;
        border-radius: calc(5px + 1vmin);
        bottom: 0px;
        padding: 4px;
        /* height if full height of dice container minus the button size 
        shifted up the hight of button size with bottom*/        
        height: calc(100% - var(--dice-button-size));
        bottom: var(--dice-button-size);
        width: 100%;
        z-index: 3;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 2px;
}

.color-swatch {
        width: var(--color-swatch-size);
        height: var(--color-swatch-size);
        border-radius: 50%;
        margin: 2px;
        cursor: pointer;
        aspect-ratio: 1 / 1;
}

.color-swatch:hover {
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

.shake {
        animation: shake 0.5s ease-in-out;
}

@keyframes shake {
        0% {
                transform: translateX(0) rotate(0deg);
        }

        25% {
                transform: translateX(-8px) rotate(-8deg);
        }

        50% {
                transform: translateX(8px) rotate(8deg);
        }

        75% {
                transform: translateX(-8px) rotate(-8deg);
        }

        100% {
                transform: translateX(0) rotate(0deg);
        }
}

.dice-action-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        align-items: center;
        padding: 50px;
}

.settings-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        grid-gap: 0;
        background-color: transparent;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1;
}

.help-popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        height: 75%;
        background-color: var(--btn-bg-color);
        padding: 20px;
        border: 1px solid white;
        z-index: 999;
        overflow-y: auto;
        box-sizing: border-box;
        border-radius: calc(10px + 1vmin);
        color: var(--btn-color);
    }
    
    .help-popup h2 {
        margin: 0 0 10px;
        font-size: calc(3vmin + 1vmax);
    }
    
    .help-popup p {
        margin: 0 0 20px;
        font-size: calc(2vmin + 1vmax);
    }
    
    .help-popup button {
        background-color: var(--main-color);
        color: var(--main-bg-color);
        font-size: calc(2vmin + 1vmax);
        padding: 10px 20px;
        cursor: pointer;
        border-radius: calc(5px + 1vmin);
        border: 1px solid white;
        box-shadow: var(--btn-shadow);
    }

    /* Custom CSS for smaller SweetAlert2 popups on mobile devices */

        .swal2-popup {
          width: 80%; /* Adjust the width of the popup */
          font-size: calc( var(--primary-button-size)/2);
        }
      
        .swal2-title {
                font-size: calc( var(--primary-button-size)/2);
        }
      
        .swal2-content {
                font-size: calc( var(--primary-button-size)/2);
        }
      
        .swal2-actions {
                font-size: calc( var(--primary-button-size)/2);
        }

        .custom-close-button {
                font-size: calc( var(--primary-button-size)*0.75);
              }
              
    